<header>
    <h1 class="hidden">Video with Vue.js</h1>
    <nav>
      <h3 class="app-title">My Awesome Video App</h3>
      <ul>
        <!-- avatar / user icon-->
        <!-- if the user has an avatar, show it -->
        <li v-if="user.avatar">
          <img :src="'images/' +  user.settings.avatar" alt="user avatar" class="u-avatar">
        </li>

        <!-- else show this -->
        <li v-else>
          <i class="fas fa-user"></i>
        </li>
        <!-- end avatar -->

        <!-- settings icon / functionality -->
        <!-- if our user object has admin rights, then show this -->
        <li v-if="user.settings.isadmin"  >
          <i v-on:click="setUserPrefs" class="fas fa-cog" role="button"></i>
        </li>
        <!-- end user settings -->

        <!-- log in / log out -->
        <li>
          <i @click="userLogIn" class="fas fa-power-off u-login" role="button" :class="{ 'logged-in' : user.isLoggedIn } "></i>
        </li>
      </ul>
    </nav>
  </header>



  <form action="signUp.php">

    <input type="name" placeholder="Name">

    <input type="email" placeholder="Email">

    <input type="age" placeholder="Age">

    <button type="submit">Submit</button>
  </form>